//if it works it works
.copyright{
  overflow: hidden;
  p {
    min-width: 102%;
    max-width: 102%;
    padding-bottom: 70px !important;
    background-image: url('../img/Path4.svg');
    background-size: cover;
    background-repeat: no-repeat;

  }
}
